
        





<div class ='container'>
        <h2>Enter your post: </h2>
        
        <table class='table'>
            <thead>
                <th>Post</th>
                <th>Style</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model = "contact.name"></td>
                    <td><input class="form-control" ng-model = "contact.style"></td>
                    <td><button class="btn btn-primary" ng-click = "addContact()" >POST</button></td>
                </tr>
            </tbody>
        </table>
        
        
        <h2>Your previous posts: </h2>
        <a href = "/entryrefresh">Refresh posts</a>
        <table class='table'>
              <thead>
                <th>Post</th>
                <th>Style</th>
            </thead>
            <tbody>
                <tr ng-repeat = "contact in contactlist">
                    <td>{{contact.name}}</td>
                    <td>{{contact.style}}</td>
                </tr>
        </table>
        
</div>