<!DOCTYPE html>

<html>
<!--<html>-->
    <header>
        
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
        <script src="//cdn.jsdelivr.net/satellizer/0.13.1/satellizer.min.js"></script>
        <script src = "app.js"></script>
        <script src = "appRoutes.js"></script>
        <script src = "controllers/MainCtrl.js"></script>
        <script src = "controllers/BearCtrl.js"></script>
        <script src = "controllers/EntryCtrl.js"></script>
        <script src = "googlogin.js"></script>
        
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
        
        
    <meta name="google-site-verification" content="arALAuOjwrp-HrjGELZDohJXIjbZ1yYPvsIYGixaaZ4" />
        
        <base href="/">
    </header>
    <body ng-app = "sampleApp">
        
        <div ng-controller = "MainController">
        <a ng-show="loggedIn" class="ng-hide" href = "https://mbartlin-se3316a-lab4-mbartlin.c9users.io">Log out {{email}}</a>
        
        <nav class = 'navbar navbar-default'>
            <li><a href="/bear">Bear link</a></li>
            <li><a href="/entry">Entry link</a></li>
        </nav>     
            
        <h1>Post 'o Mando</h1>
        <h4>Post to Facebook, Twitter, and Linkedin all at once!</h4>
    
       
        <a ng-hide="loggedIn" href = "https://accounts.google.com/o/oauth2/auth?client_id=1032349803386-mkbvqi1mjsh3l60rkgji9fc7a3f4jcsi.apps.googleusercontent.com&redirect_uri=https://mbartlin-se3316a-lab4-mbartlin.c9users.io&scope=https://www.googleapis.com/auth/userinfo.email&response_type=token&state=asdafwswdwefwsdg,">Login with Google</a>
        <br>
        
       
        <div ng-show="loggedIn" class="ng-hide">
        Welcome {{name}}!
        <a href = "https://mbartlin-se3316a-lab4-mbartlin.c9users.io/entry" >Write your post now!</a>
         </div>
         
         
          <div ng-show="loggedIn" class="ng-hide">
        
        <div ng-view></div>

    </body>
</html>